<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta name="csrf-token" content="<%= csrfToken %>" />
		<%- include('../includes/admin/head.ejs') %>
	</head>
	<title>Admin Panel</title>
	<body style="background-color: #f7f2f7;">
		<div class="container-fluid">
			<div class="row">
				<!-- Left side Menu -->
				<%- include('../includes/admin/leftPanel.ejs') %>
				<!-- Right side  -->
				<div class="col-lg-9">
					<!-- navbar -->
					<%- include('../includes/admin/navbar.ejs') %>
					<!-- panel page -->
					<!-- Alert -->
					<div class="row" style="margin: 10px 0; padding: 13px 15px 0px 15px;">
						<div class="alert alert-success">
							<strong>Success!</strong> Indicates a successful or positive action.
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					</div>
					<div class="row">
						<div class="main-panel">
							<!-- This is where main content Should be placed -->
							<div class="dashboard-container">
								<a href="/admin/posts">
									<div class="dashboard-item dashboard-item-1">
										Total Posts <br />
										<strong id="total-posts" style="font-size: 60px;"></strong>
									</div>
								</a>
								<a href="/admin/products">
									<div class="dashboard-item dashboard-item-2">
										Total Products<br />
										<strong id="total-products" style="font-size: 60px;"></strong>
									</div>
								</a>
								<a href="/admin/posts">
									<div class="dashboard-item dashboard-item-3">
										Total Views <br />
										<strong id="total-views" style="font-size: 60px;"></strong>
									</div>
								</a>
								<a href="/admin/userInfo">
									<div class="dashboard-item dashboard-item-4">
										Total Members<br />
										<strong id="total-members" style="font-size: 60px;"></strong>
									</div>
								</a>
							</div>
							<a href="/" target="_blank">
								<div class="dashboard-item dashboard-item-5">
									<span>Go To Website</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Scripts -->
		<%- include('../includes/admin/end.ejs') %>
	</body>
</html>
