<nav class="navbar navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="/" class="navbar-brand" style="font-size: 20px; margin-right: 15px;"
				><%= __('title') %></a
			>
			<Button
				type="button"
				class="navbar-toggle collapsed"
				data-toggle="collapse"
				data-target="#navbar_items"
				><span style="color: white;" class="glyphicon glyphicon-menu-hamburger"></span
			></Button>
		</div>
		<div class="collapse navbar-collapse" id="navbar_items">
			<ul class="nav navbar-nav">
				<li><a href="/postsPage"><%= __('posts') %></a></li>
				<li><a id="products_navbar" href="/productsPage"><%= __('products') %></a></li>
				<li id="cart-navbar"><a href="/cart"><%= __('cart') %></a></li>
				<li id="order-navbar"><a href="/orders"><%= __('orders') %></a></li>
				<li id="order-navbar"><a href="/sitemap.xml"><%= __('sitemap') %></a></li>
				<li class="dropdown">
					<a
						href="#"
						class="dropdown-toggle"
						data-toggle="dropdown"
						role="button"
						aria-haspopup="true"
						aria-expanded="false"
						><%= __('rss') %> <span class="caret"></span
					></a>
					<ul class="dropdown-menu">
						<li id="order-navbar"><a href="/feed/posts"><%= __('posts') %></a></li>
						<li id="order-navbar"><a href="/feed/products"><%= __('products') %></a></li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<form class="header-search-container" action="#">
					<input type="text" class="header-search-input" placeholder="<%= __('search') %>" />
					<img class="header-search-icon" src="/images/search.png" alt="" />
				</form>

				<% if(req.getLocale() == 'fa'){ %>
				<a href="/lang/en"><img style="width: 40px;" src="/images/lang/fa.png" alt="en" /></a>
				<% } else if(req.getLocale() == 'en'){ %>
				<a href="/lang/fa"><img style="width: 40px;" src="/images/lang/en.png" alt="en" /></a>
				<% } %>
				<a id="registerBtn" class="btn btn-link" href="/registerForm" style="color: white;"
					><%= __('sign') %></a
				>
				<a id="main-img-author-link"
					><img
						id="main-img-author"
						class="img-circle img-author"
						src="/images/default-profile-pic.jpg"
				/></a>
			</ul>
		</div>
	</div>
</nav>
