<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<% if(locals.csrfToken){ %>
		<meta name="csrf-token" content="<%= csrfToken %>" />
		<% } %> <%- include('../includes/head.ejs') %> <%- include('../includes/head.ejs') %>
	</head>
	<title>Registration Forn</title>

	<body>
		<!-- Navigation Bar -->
		<%- include('../includes/navbar.ejs') %>

		<!-- Page Content -->
		<div class="form-container">
			<img src="/images/front-cover-3.jpg" class="img-responsive img-form" alt="" />

			<div class="row">
				<!-- Main Content -->
				<div class="col-lg-6 offset-lg-3 register-form">
					<h3 style="text-align: center;">Enter Your New Password</h3>
					<form id="password-recovery-form" method="put">
						<input type="hidden" name="id" value="<%= userId %>" />
						<h4 id="user-email-input" class="form-input" name="email"><%= email %></h4>
						<input
							id="password"
							name="password"
							type="password"
							class="form-input"
							placeholder="Enter your password"
							required="required"
						/>
						<input
							name="passwordRepeat"
							type="password"
							class="form-input"
							placeholder="Repeat your Password"
							required="required"
						/>
					</form>
					<div class="container-fluid">
						<div class="row" style="margin-top: 40px;">
							<div class="col-lg-12"></div>
							<div id="passwordBtn" class="btn-block btn-form btn-form-login">Update Password</div>
						</div>
					</div>
				</div>
				<!-- End Main Content -->
			</div>
		</div>
		<!-- End Page Content -->

		<!-- Footer -->
		<%- include('../includes/footer.ejs') %>

		<!-- Scripts -->
		<%- include('../includes/end.ejs') %>
		<script src="/js/register-scripts.js" charset="utf-8"></script>
	</body>
</html>
