<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<%- include('../includes/head.ejs') %>
	</head>
	<title>Registration Forn</title>

	<body>
		<!-- Navigation Bar -->
		<%- include('../includes/navbar.ejs') %>

		<!-- Page Content -->
		<div class="form-container">
			<img src="/images/front-cover-3.jpg" class="img-responsive img-form" alt="" />

			<div class="row">
				<!-- Main Content -->
				<div class="col-lg-6 offset-lg-3 register-form">
					<!-- Alert -->
					<% if(errorMessage){ %>
					<div class="row" style="margin: 5px; padding: 13px 15px 0px 15px;">
						<div class="alert <%= type === 'success' ? 'alert-success' : 'alert-danger' %>">
							<%= errorMessage %>
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					</div>
					<% } %>
					<!-- End Alert -->
					<ul class="nav nav-tabs nav-justified">
						<li class="active"><a data-toggle="tab" href="#menu1">Signup</a></li>
						<li><a data-toggle="tab" href="#menu2">Login</a></li>
					</ul>
					<div class="tab-content">
						<!-- signup -->
						<%- include('../includes/admin/signup-form.ejs') %>
						<!-- Login -->
						<%- include('../includes/admin/login-form.ejs') %>
					</div>
				</div>
				<!-- End Main Content -->
			</div>
		</div>
		<!-- End Page Content -->

		<!-- Footer -->
		<%- include('../includes/footer.ejs') %>

		<!-- Scripts -->
		<%- include('../includes/end.ejs') %>
		<script src="/js/register-scripts.js" charset="utf-8"></script>
	</body>
</html>
